# Ignora o node_modules (dependências instaladas)
node_modules/

# Ignora arquivos de ambiente
.env

# Logs
logs
*.log
npm-debug.log*

# Diretórios do sistema
.DS_Store
Thumbs.db

# IDEs / editores
.vscode/
.idea/

# Build outputs
dist/
build/

# Arquivos do sistema operacional
*.swp
*.swo
